@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

@primarylight: #5FA09F;
@primarydark: #0C3B3D;
@grey: #D4E7EA;
@white: #ffffff;
@black: #000000;
@primarysans: 'Roboto Condensed', sans-serif;

body {
  font-family: @primarysans;
}

.video-main {
  background-color: @grey;
  .nav-container {
    height: 60px;
    color: @primarydark;
    .nav-header-text {
      font-size: 20px;
      font-weight: 700;
    }
    .nav-hamburger {
      float: left;
    }
    .nav-search {
      float: right;
    }
  }
  .video-container {
    padding-bottom: 30px;
  }
}

.video-item {
  background-color: @white;
  .left-container,
  .video-container,
  .right-container {
    display: inline-block;
  }
  .left-container {
    float: left;
    .video-timestamp {
      color: @primarydark;
    }
    .video-share {
      color: @white;
      background-color: @primarylight;
      border-radius: 50%;
    }
  }
  .video-container {
    z-index: 1;
    margin-top: -10px;
  }
  .right-container {
    float: right;
    padding: 20px;
    .video-title {
      color: @primarydark;
      .title-text {
        font-size: 14px;
      }

    }
    .video-duration {
      color: @white;
      .badge {
        background-color: @primarylight;
      }
    }
    .video-description {
      color: @black;
      .meta {
        font-size: 12px;
      }
    }
  }
}