@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);


@screen-xs: 480px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;


@primarylight: #5FA09F;
@primarydark: #0C3B3D;
@grey: #D4E7EA;
@white: #ffffff;
@black: #000000;
@sans: 'Roboto', sans-serif;
@sanscondensed: 'Roboto Condensed', sans-serif;

body {
  font-family: @sanscondensed;
}

.container {
  width: 100%;
}

.header-text {
  font-size: 20px;
  font-weight: 700;
  color: @primarydark; 
}

.meta {
  color: @primarylight;
}

.light {
  color: @primarylight;
}

.dark {
  color: @primarydark;
}

.thin-lg {
  font-size: 35px;
  font-weight: 300;
  font-family: @sans;
}

.video-main {
  background-color: @grey;

  .nav-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: @primarydark;

    .nav-hamburger {
      float: left;
    }

    .nav-search {
      float: right;
    }
  }

  .video-container {
    padding-bottom: 30px;
  }
}

.video-item {
  background-color: @white;
  padding-bottom: 50px;
  border-bottom: 1px solid @grey;
  .left-container,
  .video-container,
  .right-container {
    display: inline-block;
  }

  .video-item-wrapper {
    @media (min-width: @screen-xs) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: @screen-md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .left-container {
    @media (min-width: @screen-xs) {
      width: 15%;
      display: inline-block;
      float: left;
    }

    .video-timestamp {
      @media (min-width: @screen-xs) {  
        padding-top: 50px;
        text-align: center;
        .header-text {
          font-size: 50px;
        }
        .thin-lg {
          font-size: 60px;
          margin-top: -30px;
        }
      }
      @media (min-width: @screen-md) {
        text-align: right;
        padding-right: 0;
        padding-top: 30px;
      }
    }

    .video-share {
      @media (min-width: @screen-xs) {
        display: none;
      }
      @media (min-width: @screen-md) {
        display: block;
        background-color: @primarylight;
        width: 35px;
        height: 35px; 
        border-radius: 50%;
        float: right;
        text-align: center;
        padding: 7px;
        .fa {
          color: @white;
        }
      }
    }
  
  } // .left-container

  .video-container {
    @media (min-width: @screen-xs) {
      z-index: 1;
      margin-top: -20px;
      width: 85%;
      border-top: 1px solid @white;
      border-left: 1px solid @white;
    }
  } // .video-container

  .right-container {
    @media (min-width: @screen-xs) {
      float: right;
      padding-left: 0;
      padding-top: 30px;
      width: 85%;
      text-align: left;
    }
    .video-title {
      @media (min-width: @screen-xs) {
        .header-text {
          font-size: 55px;
        }
      }
    }
    .video-duration {
      color: @white;
      @media (min-width: @screen-xs) {
        .badge {
          background-color: @primarylight;
          border-radius: 0px;
          font-size: 30px;
          padding: 10px 15px;
        }
      }
    }
    .video-description {
      color: @black;
      @media (min-width: @screen-xs) {
        display: none;
      }
      @media (min-width: @screen-md) {
        display: block;
        margin-top: 15px;
      }
    }
    .item-link { 
      @media (min-width: @screen-xs) {
        display: none;
      }
      @media (min-width: @screen-md) {
        display: block;
        .meta { 
          font-size: 12px; 
          .link {
            color: @primarylight; 
            text-align: right;
            font-size: 18px;
            text-decoration: none;
            font-weight: 300;
          }
        }
      }
    }

  } // .right-container

} // video-item

.footer-pagination {

  .pagination-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pagination-left,
  .pagination-ctrls,
  .pagination-prev,
  .pagination-next {
    display: inline-block;
  }

  .pagination-left {
    float: left;

    .header-text {
   		font-weight: 400;
    	font-family: @sans;
    }
  }

  .pagination-ctrls {
    float: right;
    text-transform: uppercase;

    .meta {
      font-weight: 700;
      margin: 0;
    }
  }
  .pagination-prev {
	  margin-left: 15px;
	  margin-right: 15px;  	
  }
  .pagination-next {
    border: 3px solid @primarydark;
    border-radius: 50%;
    padding: 30px;
    z-index: 1;
    margin-top: -35px;
    margin-left: 15px;
  	margin-right: 15px;
    span {
      vertical-align: middle;
    }
  }
}

.footer-page {
	background-color: @grey;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: @sans;

	ul { padding-left: 0; }
	li { list-style-type: none; }

	.footer-wrapper {
		text-align: center;
	}

	.footer-section {
		vertical-align: top;
		width: 19%;
		display: inline-block;
		padding-left: 15px;
		padding-right: 15px;

		img.footer-img {
			width: 100px;
			float: right;
		}

		.meta {
			font-size: 12px;
		}

		.link-items {
			text-align: left;
		}

		.link-item {
			font-size: 12px;

			.meta {
				margin-bottom: 0;
				color: @primarylight;
				.fa {
					text-align: center;
					font-size: 0.8em;
					padding-top: 3px;
					color: @grey;
					border-radius: 50%;
					background: @primarydark;
					width: 15px;
					height: 15px;
					margin-right: 5px;
				}
			}
		}

		.link-item-title {
			font-weight: 700;
			text-transform: uppercase;
		}

	}
}