<div class="container-fluid footer-page">
  <div class="container">
    <div class="row">
      <div class="footer-wrapper">
        <div class="footer-section img-container">
          <img class="img-responsive footer-img" src="https://s3.amazonaws.com/www-tropo-com/wp-content/uploads/2015/05/Cisco_logo.svg_.png">
        </div>
        <div class="footer-section social">
          <ul class="link-items">
            <li class="link-item-title">
              <p class="meta dark">Follow us for updates</p>
            </li>
            <li class="link-item">
              <p class="meta dark"><i class="fa fa-facebook"></i> Facebook</p>
            </li>
            <li class="link-item">
              <p class="meta dark"><i class="fa fa-twitter"></i> Twitter</p>
            </li>
            <li class="link-item">
              <p class="meta dark"><i class="fa fa-instagram"></i> Instagram</p>
            </li>
          </ul>
        </div>
       <div class="footer-section about">
        <ul class="link-items">
          <li class="link-item-title">
            <p class="meta dark">About</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Lorem</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Ipsum</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Dolor</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Sit amet</p>
          </li>
        </ul>
      </div>
       <div class="footer-section list-hide">
        <ul class="link-items">
          <li class="link-item-title">
            <p class="meta dark">Company</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Consectetur</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Adipscing elit</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Consectetur</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Adipscing elit</p>
          </li>
        </ul>
      </div>
       <div class="footer-section list-hide">
        <ul class="link-items">
          <li class="link-item-title">
            <p class="meta dark">Lorem Ipsum</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Lorem ipsum</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Ipsum dolor</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Dolor adipscing</p>
          </li>
          <li class="link-item">
            <p class="meta dark">Sit amet</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>