<div class="container-fluid bg-grey navigation-wrapper hidden">
  <div class="wrapper">
    <div class="row">
      <div class="navigation-header">
        <div class="navigation-close wow fadeIn">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="links-container wow fadeIn">
        <ul class="navigation-items">
          <li class="navigation-item"><p class="header-text">Featured</p></li>
          <li class="navigation-item"><p class="header-text">Events</p></li>
          <li class="navigation-item"><p class="header-text">Industries</p></li>
          <li class="navigation-item"><p class="header-text">Products</p></li>
          <li class="navigation-item"><p class="header-text">Services</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>