<div class="container-fluid footer-pagination">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-12 col-xs-12 pagination-wrapper">
        <div class="pagination-ctrls">
          <div class="prev">
            <p class="meta">
              <span class="light">Previous</span>
            </p>
          </div>
          <div class="next">
            <p class="meta">
              <span class="dark">Next</span>
              <span class="thin-lg dark">8</span>
            </p>
          </div>
        </div>
        <div class="pagination-page">
          <p class="header-text light">Viewing videos 1 <i class="fa fa-long-arrow-right"></i> 8 of 20</p>
        </div>
      </div>
    </div>
  </div>
</div>