<div class="container-fluid bg-grey search-results">
  <div class="results-wrapper">
    <p class="results-message"><span class="thin-lg results-num">20</span><span class="thin-sm"> results for </span><span class="header-text">'2014 interview'</span></p>
  </div>
</div>