  <div class="container-fluid video-single video-main">
    <div class="col-lg-12 col-xs-12 video-container">
      <img class="img-responsive" src="img/thumb.png">
      <div class="shadow">
        <div class="video-play">
          <a href="#">
            <div class="btn-container">
              <i class="fa fa-play"></i>
            </div>
          </a>
        </div>
        <div class="video-timestamp">
          <p class="header-text">Mar</p>
          <p class="thin-lg">28</p>
        </div>
        <div class="video-title">
          <p class="video-category">Products</p>
          <p class="header-text">IoT World Forum Closing Keynote Session With John Chambers</p>
        </div>
      </div>
    </div>
  </div>
  <div class=" container-fluid video-main-info">
  	<div class="header">
  		<p class="meta darkgrey">Products</p>
  		<p class="header-text">Office Takeover</p>
  	</div>
  	<div class="video-description">
  		<p class="thin-sm">Lorem ipsum dolor sit amet, ne tota dolorem eos, vero erat impetus est id. Menandri theophrastus mei ad, et alia pertinax nec.</p>
  	</div>
  </div>
  <div class=" container-fluid video-main-links">
  	<div 
  	class="video-share" 
  	data-container=".video-main-links" 
  	data-toggle="popover" 
  	data-html="true" 
  	data-placement="top" 
  	data-content="
  	<ul>
  		<a href='#'><li><p class='thin-sm'><i class='fa fa-facebook-square'></i> Share</p></li></a>
  		<a href='#'><li><p class='thin-sm'><i class='fa fa-twitter'></i> Tweet</p></li></a>
  		<a href='#'><li><p class='thin-sm'><i class='fa fa-paper-plane'></i> Email</p></li></a>
  		<a href='#'><li><p class='thin-sm'><i class='fa fa-link'></i> Get link</p></li></a>
  	</ul>">
  		<i class="fa fa-share-alt"></i>
  	</div>
  	 <div class="item-link">
      <p class="meta">Nostrud <a class="link" href="#">laetantes <i class="fa fa-angle-right"></i></a></p>
    </div>
  </div>

  <div class=" container-fluid more-products">
  	<p class="thin-sm">More from <span class="header-text">Products</span></p>
  </div>
