<div class="container-fluid video-single footer-pagination">
  <div class="wrapper">
    <div class="row">
      <div class="pagination-wrapper">
        <div class="pagination-ctrls">
          <div class="next">
            <p class="meta dark">See all</p>
            <p class="meta dark">10 Videos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>