<div class="video-share" 
data-container=".left-container" 
data-toggle="popover"
data-trigger="hover" 
data-html="true" 
data-placement="top" 
data-content="
  <ul>
    <a href='#'><li><p class='thin-sm'><i class='fa fa-facebook-square'></i> Share</p></li></a>
    <a href='#'><li><p class='thin-sm'><i class='fa fa-twitter'></i> Tweet</p></li></a>
    <a href='#'><li><p class='thin-sm'><i class='fa fa-paper-plane'></i> Email</p></li></a>
    <a href='#'><li><p class='thin-sm'><i class='fa fa-link'></i> Get link</p></li></a>
  </ul>">
  <i class="fa fa-share-alt"></i>
</div>