<div class="container-fluid video-item">
  <div class="wrapper">
    <div class="row">
      <div class="video-item-wrapper">
        <div class="left-container">
          <div class="video-timestamp">
            <p class="header-text">Mar</p>
            <p class="thin-lg">28</p>
          </div>
          <div class="video-share" 
          data-container=".left-container" 
          data-toggle="popover"
          data-trigger="hover" 
          data-html="true" 
          data-placement="top" 
          data-content="
            <ul>
              <li><p class='thin-sm'><a href='#'><i class='fa fa-facebook-square'></i> Share</a></p></li>
              <li><p class='thin-sm'><a href='#'><i class='fa fa-twitter'></i> Tweet</a></p></li>
              <li><p class='thin-sm'><a href='#'><i class='fa fa-paper-plane'></i> Email</a></p></li>
              <li><p class='thin-sm'><a href='#'><i class='fa fa-link'></i> Get link</a></p></li>
            </ul>">
            <i class="fa fa-share-alt"></i>
          </div>
        </div>
        <div class="video-container">
          <img class="img-responsive" src="img/thumb.png">
          
          <div class="shadow">
            <div class="video-play">
            <a href="#">
              <div class="btn-container">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
            
          </div>
        </div>        
        <div class="right-container">
          <div class="video-title">
            <p class="header-text">Retail Center Creates lorem ipsum "Everyday Wonder"</p>
          </div>
          <div class="video-duration">
            <span class="badge">5:04</span>
          </div>
          <div class="video-description">
            <p class="meta">Lorem ipsum dolor sit amet, ne tota dolorem eos, vero erat impetus est id. Menandri theophrastus mei ad, et alia pertinax nec, id has iudico verterem explicari.</p>
          </div>
          <div class="item-link">
            <p class="meta">We're wired and ready. <a class="link" href="#">See how <i class="fa fa-angle-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>