<div class="video-share" 
    data-container=".left-container" 
    data-toggle="popover"
    data-trigger="hover" 
    data-html="true" 
    data-placement="top" 
    data-content="
    <ul>
      <li><p class='thin-sm'><a href='#'><i class='fa fa-facebook-square'></i> Share</a></p></li>
      <li><p class='thin-sm'><a href='#'><i class='fa fa-twitter'></i> Tweet</a></p></li>
      <li><p class='thin-sm'><a href='#'><i class='fa fa-paper-plane'></i> Email</a></p></li>
      <li><p class='thin-sm'><a href='#'><i class='fa fa-link'></i> Get link</a></p></li>
    </ul>"><i class="fa fa-share-alt"></i>
</div>