<div class="container-fluid video-main">
  
      <div class="video-main-wrapper">
        <img class="img-responsive" src="img/thumb.png">
        <div class="video-main-inner">
          <div class="video-play">
            <a href="#">
              <div class="btn-container">
                <i class="fa fa-play"></i>
              </div>
            </a>
          </div>
          <div class="video-timestamp">
            <p class="header-text">Mar</p>
            <p class="thin-lg">28</p>
          </div>
          <div class="video-title">
            <p class="category-text">Products</p>
            <p class="header-text">IoT World Forum Closing Keynote Session With John Chambers</p>
          </div>
        </div>
      </div>
  
</div>