.video-nav {
  background-color: @grey;
  color: @primarydark;

  .nav-container {
    @media (min-width: @screen-xxs) {
      padding: 20px;
      .nav-hamburger { float: left; }
      .nav-search { float: right; }
      .header-text { display: none; }
      .fa {
        display: inline-block;
        font-size: 2em;
      }
    }

  }
}