.navigation-wrapper {
	z-index: 1000;
	height: 100vh;
	width: 100%;
	opacity: 0.95;
	position: absolute;
	
	.links-container {
	  padding-top: 30px;
	}
	.navigation-close {
		float: left;
	}
	.navigation-header {
	  height: 70px;
	  padding-top: 20px;
	  padding-left: 5px;
	  .fa {
		  display: inline-block;
		  font-size: 2em;
		  cursor: pointer;
	  }
	}
	.navigation-items {
		padding-left: 0;
	}
	.navigation-item { 
		list-style-type: none; 
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	}
}