.navigation-wrapper {
	z-index: 1000;
	height: 100vh;
	opacity: 0.95;
	position: absolute;
	.transition(all 0.2s ease);
	.links-container {
	  padding-top: 30px;
	}
	.navigation-close {
		float: left;
	}
	.navigation-header {
	  height: 70px;
	  width: 100%;
		padding: 30px 40px 40px 40px;
	  .fa {
		  display: inline-block;
		  font-size: 2em;
		  cursor: pointer;
	  }
	}
	.navigation-items {
		padding-left: 0;
	}
	.navigation-item { 
		list-style-type: none; 
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	}
	.header-text {
	
	}
}