.navigation-wrapper {
	z-index: 1000;
	height: 100vh;
	width: 100%;
	opacity: 0.9;
	position: absolute;


	.navigation-items {
		padding-left: 0;
	}
	.navigation-item { 
		list-style-type: none; 
		width: 100%;
		text-transform: uppercase;
		text-align: center;
	}
}