.popover.fade.top.in {
	top: 270px;
  left: 15px;
  height: 275px;
  width: 200px;
  border-radius: 30px;
  font-size: 22px;
  .popover-content {
  	text-align: left;
	  padding: 40px 10px;
	  a {
	  	color: @primarydark;
	  	padding-bottom: 30px;
	  }
	  .fa {
	  	font-size: 1em;
	  	width: 30px;
	  }
  }
}