.video-main {
  background-color: @grey;
  @media (min-width: @screen-xxs) {
    padding: 0;
    .video-container {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 60px;
    }
  }
}