.video-main {
  background-color: @grey;
  @media (min-width: @screen-xs) {
    padding: 0;
    .video-container {
      .box-shadow(0px 0px 22px -4px rgba(0,0,0,0.75););
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 60px;
      .shadow {
        .box-shadow(inset 0px -176px 178px -62px rgba(0,0,0,0.75););
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 15px;
        .header-text,
        .thin-lg {
          color: @white;
          -webkit-font-smoothing: antialiased;
        }
        .video-play {
          display: none;
        }
        .video-timestamp {
          display: block;
          width: 100%;
          height: 65%;
          text-align: left;
          .header-text {
            font-size: 22px;
            margin-bottom: 0;
          }
          .thin-lg {
            margin-top: -10px;
          }
        }
        .video-title {
          font-weight: 600;
          color: @white;
          display: block;
          .video-category {
            text-transform: uppercase;
            color: @darkgrey;
            margin-bottom: 0
          }
          .header-text {
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 0;
          }          
        }

      }
    }
  }
  @media (min-width: 520px) {
    .video-container .shadow {
      .video-timestamp {
        height: 75%;
      }
      .video-title {
        width: 88%;
        .header-text {
          font-size: 25px;
        }
      }
    }
  }

  @media (min-width: @screen-sm) {
  	padding: 15px 40px 40px 40px;
  	.video-container {
  		margin-bottom: 0;
      .shadow {
        .video-play {
          display: block;
          height: 75%;
          width: 100%;
        }
        .video-timestamp {
          text-align: left;
          width: 7%;
          height: initial;
          display: inline-block;
        }
        .video-title {
          width: 70%;
          color: @white;
          display: inline-block;
          .header-text {
            width: 100%;
          }
        }
      }
  	}
  }
}