.video-main {
  background-color: @grey;
  @media (min-width: @screen-xs) {
    padding: 0;
    .video-container {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 60px;
    }
  }
  @media (min-width: @screen-sm) {
  	padding: 20px 35px 35px 35px;
  	.video-container {
  		padding-bottom: 0;
  	}
  }
}