.video-single.video-main {
	.video-main-wrapper {
		padding-bottom: 0;
		margin-bottom: 0px;
	}
}
.video-main-info {
	padding: 15px;
	background-color: @white;
	@media (min-width: @screen-sm) {
		padding-left: 65px;
		padding-right: 65px;
	}
	@media (min-width: @screen-md) {
		padding-left: 25px;
	  padding-right: 25px;
	}
	.meta a {
		font-weight: 800;
		font-size: 16px;
	}
	.thin-sm {
	  font-size: 15px;
	  margin-bottom: 0;
	  line-height: 1.6em;
	  font-weight: 400;
	}
	.header-text {
		font-size: 28px;
	}
}
.more-products {
  background-color: @grey;
  height: 90px;
  width: 100%;
  padding: 25px;
	.header-text {
		text-transform: uppercase;
	}
}

.video-links {
	background-color: @white;
	height: 90px;
	padding-top: 25px;
	.video-share {
		float: left;
	}
}
.item-link {
	float: right;
	.meta { 
    font-size: 22px; 
    .link {
      color: @primarylight; 
      text-align: right;
      font-size: 30px;
      text-decoration: none;
      font-weight: 300;
    }
  }
}