.video-item {
  background-color: @white;
  border-bottom: 1px solid @grey;
  .left-container,
  .video-container,
  .right-container {
    display: inline-block;
  }
  .video-item-wrapper {
    background-color: @white;
    padding-left: 0;
    padding-right: 0;
    min-height: 310px;
    padding-bottom: 50px;
    @media (min-width: @screen-sm) {
      padding-left: 25px;
      padding-right: 25px;
    }
    @media (min-width: @screen-lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .left-container {
    width: 20%;
    display: inline-block;
    float: left;
    background-color: @white;
    padding-left: 15px;
    @media (min-width: @screen-sm) {
      padding-left: 25px;
      width: 15%;
    }
    @media (min-width: @screen-md) {
      width: 10%;
    }
    .video-timestamp {
      padding-top: 20px;
      text-align: left;
      @media (min-width: @screen-sm) {
        padding-top: 25px;
      }
      .header-text {
        font-size: 25px;
      }
      .thin-lg {
        font-size: 35px;
        margin-top: -20px;
      }
    }
    .video-share {
      display: none;
      @media (min-width: @screen-sm) {
        display: block;
        background-color: @primarylight;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-align: center;
        padding: 12px;
        .fa {
          color: @white;
        }
      }
    }
  
  } // .left-container

  .video-container {
    .box-shadow(0px -3px 19px -4px rgba(0,0,0,0.75););
    z-index: 1;
    margin-top: -15px;
    width: 80%;
    @media (min-width: @screen-sm) {
      width: 45%;
      height: 100%;
      margin-top: -10px;
    }
    @media (min-width: @screen-md) {
      width: 55%;
    }
  } // .video-container

  .right-container {
    float: right;
    padding-left: 0;
    padding: 10px;
    width: 80%;
    text-align: left;
    @media (min-width: @screen-sm) {
      width: 40%;
      height: 100%;
      padding: 25px 60px 25px 25px;
    }
    @media (min-width: @screen-md) {
      width: 35%;
    }
    .video-title {
      .header-text {
        font-size: 19px;
      }
    }
    .video-duration {
      color: @white;
      .badge {
        background-color: @primarylight;
        border-radius: 0px;
        font-size: 14px;
        padding: 5px 8px;
      }
    
      @media (min-width: @screen-sm) {
        .badge {
          font-size: 11px;
        }
      }
    }
    .video-description {
      color: @black;
      display: none;
      @media (min-width: @screen-sm) {
        display: block;
        margin-top: 15px;
        font-size: 12px;
      }
    }
    .item-link { 
      display: none;
      @media (min-width: @screen-sm) {
        display: block;
        text-align: right;
          right: 40px;
          bottom: 35px;
          position: absolute;
        .meta { 
          font-size: 12px; 
          color: @darkgrey;
          .link {
            color: @primarylight; 
            text-align: right;
            font-size: 18px;
            text-decoration: none;
            font-weight: 300;
          }
        }
      }
    }

  } // .right-container
} // video-item