@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.container {
  width: 100%;
}
.header-text {
  font-size: 20px;
  font-weight: 700;
  color: #0c3b3d;
}
.meta {
  color: #5fa09f;
}
.light {
  color: #5fa09f;
}
.dark {
  color: #0c3b3d;
}
.thin-lg {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.video-main {
  background-color: #d4e7ea;
}
.video-main .nav-container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0c3b3d;
}
.video-main .nav-container .nav-hamburger {
  float: left;
}
.video-main .nav-container .nav-search {
  float: right;
}
.video-main .video-container {
  padding-bottom: 30px;
}
.video-item {
  background-color: #ffffff;
  padding-bottom: 50px;
  border-bottom: 1px solid #d4e7ea;
}
.video-item .left-container,
.video-item .video-container,
.video-item .right-container {
  display: inline-block;
}
.video-item .left-container {
  float: left;
  text-align: right;
  padding-right: 0;
  padding-top: 30px;
}
.video-item .left-container .video-timestamp {
  text-align: center;
  display: inline-block;
}
.video-item .left-container .video-timestamp p {
  margin: -10px 0 0 0;
}
.video-item .left-container .video-share {
  width: 35px;
  height: 35px;
  background-color: #5fa09f;
  border-radius: 50%;
  float: right;
  text-align: center;
  padding: 7px;
}
.video-item .left-container .video-share .fa {
  color: #ffffff;
}
.video-item .video-container {
  z-index: 1;
  margin-top: -10px;
}
.video-item .right-container {
  float: right;
  padding-left: 0;
  padding-top: 30px;
}
.video-item .right-container .video-duration {
  color: #ffffff;
}
.video-item .right-container .video-duration .badge {
  background-color: #5fa09f;
  border-radius: 0px;
}
.video-item .right-container .video-description {
  color: #000000;
  margin-top: 15px;
}
.video-item .right-container .video-description .meta {
  font-size: 12px;
}
.video-item .right-container .item-link {
  text-align: right;
}
.video-item .right-container .item-link .link {
  color: #5fa09f;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
}
.footer-pagination .pagination-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-pagination .pagination-left,
.footer-pagination .pagination-ctrls,
.footer-pagination .pagination-prev,
.footer-pagination .pagination-next {
  display: inline-block;
}
.footer-pagination .pagination-left {
  float: left;
  font-weight: 400;
}
.footer-pagination .pagination-ctrls {
  float: right;
  text-transform: uppercase;
}
.footer-pagination .pagination-ctrls .meta {
  font-weight: 700;
  margin: 0;
}
.footer-pagination .pagination-next {
  border: 3px solid #0c3b3d;
  border-radius: 50%;
  padding: 30px;
  z-index: 1;
  margin-top: -35px;
}
.footer-pagination .pagination-next span {
  vertical-align: middle;
}
