@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.header-text {
  font-size: 20px;
  font-weight: 700;
  color: #0c3b3d;
}
.meta {
  color: #5fa09f;
}
.thin-lg {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Roboto Condensed', sans-serif;
}
.video-main {
  background-color: #d4e7ea;
}
.video-main .nav-container {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #0c3b3d;
}
.video-main .nav-container .nav-hamburger {
  float: left;
}
.video-main .nav-container .nav-search {
  float: right;
}
.video-main .video-container {
  padding-bottom: 30px;
}
.video-item {
  background-color: #ffffff;
}
.video-item .left-container,
.video-item .video-container,
.video-item .right-container {
  display: inline-block;
}
.video-item .left-container {
  float: left;
  text-align: right;
  padding: 20px;
}
.video-item .left-container .video-timestamp {
  text-align: center;
  display: inline-block;
}
.video-item .left-container .video-timestamp p {
  margin: 0;
}
.video-item .left-container .video-share {
  color: #ffffff;
  background-color: #5fa09f;
  border-radius: 50%;
}
.video-item .video-container {
  z-index: 1;
  margin-top: -10px;
}
.video-item .right-container {
  float: right;
  padding-left: 0;
  padding-top: 30px;
}
.video-item .right-container .video-duration {
  color: #ffffff;
}
.video-item .right-container .video-duration .badge {
  background-color: #5fa09f;
  border-radius: 0px;
}
.video-item .right-container .video-description {
  color: #000000;
  margin-top: 15px;
}
.video-item .right-container .video-description .meta {
  font-size: 12px;
}
